dconf
vesktop
dolphinrc
go
mimeapps.list
mozilla
discord
Caprine
cat_installer
xournalpp
outlook-for-linux
GIMP
bookmarks
BambuStudioInternal
QtProject
UnityHub
QtProject.conf
blender
eduroam_polsl_ca.pem
kicad
libreoffice
unity3d
unityhub
vlc
